@font-face {
  font-family: 'DungGeunMo';
  src: url('/static/fonts/DungGeunMo.eot');
  src: url('/static/fonts/DungGeunMo.woff2') format('woff2'),
  url('/static/fonts/DungGeunMo.woff') format('woff');
}